/* home.css */
.hero {
    background-color: #f8f9fa;
    padding: 100px 0;
    margin-top: 50px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.profile-img img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.about-me {
    font-size: 1.1rem;
    line-height: 1.6;
}

#projects .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

#projects .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

#projects .card-img-top {
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#projects .card:hover .card-img-top {
    transform: scale(1.05);
}

#projects .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f8f9fa;
    padding: 1.5rem;
}

#projects .card-text {
    flex-grow: 1;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

#projects .btn-primary {
    margin-top: auto;
    background-color: #d94f5c;
    border-color: #d94f5c;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
}

#projects .btn-primary:hover {
    background-color: #c13c49;
    border-color: #c13c49;
}

@media (max-width: 768px) {
    #projects .card {
        margin-bottom: 2rem;
    }
}
#contact form {
    max-width: 500px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
        padding: 50px 0;
    }

    .profile-img img {
        margin-top: 30px;
    }
}

#skills .skill-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#skills .skill-card:hover {
    transform: translateY(-5px);
}

#skills .skill-card i {
    color: #007bff;
}

.social-links a {
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #007bff !important;
}

@media (max-width: 768px) {
    .lead {

        text-align: center;
    }
    .skil-logo {
        width: 100%;
    }

    .skill-item {
        width: 100%;
    }
    #skills .skill-card {
        margin-bottom: 20px;
    }
    .timeline-item::after, .timeline::after{
        display:none;
    }
}

