#seeding_gemix {
    background: linear-gradient(135deg, #f9f9f9, #ffffff);
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#seeding_gemix:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

#seeding_gemix p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

#seeding_gemix img {
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#seeding_gemix img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0,0,0,0.2);
}

#seeding_gemix button {
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#seeding_gemix button:hover {
    background-color: #e64a19;
    transform: translateY(-2px);
}

#seeding_gemix button:active {
    background-color: #d84315;
    transform: translateY(0);
}

/* <div id="seeding_gemix" class="alert alert-info alert-dismissible fade show" role="alert" style="width: 100%; margin-top: 20px; background-color: #e6f3ff; border-color: #b8daff;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p style="font-size: 16px; color: #004085; margin-bottom: 0;">
    ✨ <strong>Quảng Cáo:</strong> Nếu bạn thích những thứ độc lạ, hãy ghé thăm 
    <a href="https://www.facebook.com/profile.php?id=61566566902519" target="_blank" style="color: #FF5722; font-weight: bold;">Gemix</a>! 
    <button onclick="window.open('https://www.facebook.com/profile.php?id=61566566902519', '_blank')" 
            style="display: inline-block; margin-left: 10px; padding: 5px 10px; background-color: #FF5722; color: white; border: none; border-radius: 3px; cursor: pointer; font-size: 14px;">
      Xem Ngay
    </button>
  </p>
</div> */